.character {


  &.clickable {
    cursor: pointer;
    transition: transform .3s ease-out;

    &:hover {
      transform: translate(0, -10px);
      opacity: 0.8;
    }
  }
}

.character__content {
  display: grid;
  grid-template-columns: auto 20px;
  column-gap: 5px;
  align-items: center;
}

.status {
  width: 20px;
  height: 20px;
  background-color: #cd6a6a;
  border-radius: 50%;
  display: inline-block;

  &.alive {
    background-color: #5b995b;
  }
}

.character__image {
  width: 100%;
}

.character__buttonWrapper {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 200px;
  justify-content: center;
}

.character__button {
  background-color: burlywood;
  color: white;
  font-weight: bold;
  padding: 10px 25px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
  border-radius: 5px;

  &:hover {
    opacity: 0.7;
  }
}
